/* importing google's Rubik Doodle Shadow */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Rubik Doodle Shadow', system-ui;
  background-color: #66645c;
  color: white;
}
